*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#eef4f8;
}

header{
    background:#002b5c;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 60px;
}

.logo{

width:120px;
object-fit:contain;
margin-right:20px;
height  : auto;


}

.logo-section{

display:flex;

align-items:center;

}

.logo-section h2{
    font-size:34px;
    font-weight:bold;
}

nav a{

color:white;

text-decoration:none;

margin-left:25px;

font-size:18px;

}

nav a:hover{

color:#ffd54f;

}

.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:70px;

background:white;

}

.hero-text{

width:55%;

}

.hero-text h1{

font-size:45px;

color:#002b5c;

margin-bottom:20px;

}

.hero-text p{

font-size:19px;

line-height:1.8;

margin-bottom:30px;

}

.hero-image img{

width:350px;

}

.btn{

display:inline-block;

padding:15px 35px;

background:#002b5c;

color:white;

text-decoration:none;

border-radius:30px;

transition:.3s;

}

.btn:hover{

background:#0056b3;

}

.cards{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:30px;

padding:60px;

}

.card{

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 10px 20px rgba(0,0,0,.1);

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.card h2{

margin-bottom:15px;

color:#002b5c;

}

.stats{

display:flex;

justify-content:space-around;

background:#002b5c;

color:white;

padding:40px;

text-align:center;

}

.stats h1{

font-size:45px;

}

.student-container{

display:flex;

width:80%;

margin:50px auto;

background:white;

box-shadow:0 10px 20px rgba(0,0,0,.1);

border-radius:20px;

overflow:hidden;

}

.left{

width:35%;

background:#002b5c;

color:white;

text-align:center;

padding:40px;

}

.left img{

width:170px;

margin-bottom:20px;

}

.right{

width:65%;

padding:40px;

}

.right h1{

color:#002b5c;

margin-bottom:20px;

}

table{

width:100%;

border-collapse:collapse;

margin-bottom:30px;

}

th{

background:#002b5c;

color:white;

padding:15px;

width:35%;

}

td{

padding:15px;

background:#f4f4f4;

}

table,th,td{

border:1px solid #ccc;

}

@media(max-width:900px){

.hero{

flex-direction:column;

text-align:center;

}

.hero-text{

width:100%;

margin-bottom:30px;

}

.cards{

grid-template-columns:1fr;

}

.student-container{

flex-direction:column;

}

.left,.right{

width:100%;

}

}
